<%- include('./partials/head') %>

<section class="card">
  <div class="card-intro">
    <h2><%= member.role %></h2>
    <img src="<%= member.avatar %>" alt="">
    <h1><%= member.name %></h1>
  </div>
  <div class="card-info">
    <div>
      <h3>Skills</h3>
    </div>
    <div>
      <h3>Bio</h3>
      <span>
        <%= member.bio.html %>
      </span>
    </div>
  </div>
</section>

<%- include('./partials/foot') %>
